.config
.cpuprofile
.cspell
.dccache
.editorconfig
.eslintcache
.eslintrc.json
.git
.gitattributes
.github/
.gitignore
.heapprofile
.heapsnapshot
.history/
.husky
.idea/
.vscode
.vscode-test/
.VSCodeCounter/
.vsix
*.cpuprofile
*.heapprofile
*.heapsnapshot
*.vsix
coverage/
cspell.json
data/icon.svg
dist/extension.js.map
dist/test/
dprint.json
esbuild.config.js
image/
jest.config.js
knip.json
node_modules/
note/
out/
oxlintrc.json
pnpm-lock.yaml
script/
src/
syntaxes/grammar/
syntaxes/README.md
TODO/
tsconfig.json
vscode-autohotkey-neko-help*