.config
.cpuprofile
.cspell
.dccache
.editorconfig
.eslintcache
.eslintrc.json
.git
.gitattributes
.gitignore
.heapprofile
.heapsnapshot
.history/
.idea/
.vscode
.vscode-test/
.VSCodeCounter/
.vsix
*.cpuprofile
*.heapprofile
*.heapsnapshot
*.vsix
coverage/
cspell.json
dist/extension.js.map
dist/test/
dprint.json
esbuild.config.js
icon.svg
image/
jest.config.js
node_modules/
note/
out/
pnpm-lock.yaml
src/
syntaxes/README.md
TODO/
tsconfig.json
vscode-autohotkey-neko-help*